@import "tailwindcss";

body {
  background: radial-gradient(
      circle at 15% 25%,
      rgba(124, 58, 237, 0.18),
      transparent 40%
    ),
    radial-gradient(
      circle at 85% 75%,
      rgba(6, 182, 212, 0.18),
      transparent 40%
    ),
    linear-gradient(
      135deg,
      #050816 0%,
      #0B0F1A 40%,
      #111827 100%
    );
  background-attachment: fixed;
}

:root {
  /* Background */
  --color-background: radial-gradient(
      circle at 15% 25%,
      rgba(124, 58, 237, 0.18),
      transparent 40%
    ),
    radial-gradient(
      circle at 85% 75%,
      rgba(6, 182, 212, 0.18),
      transparent 40%
    ),
    linear-gradient(
      135deg,
      #050816 0%,
      #0B0F1A 40%,
      #111827 100%
    );
  background-attachment: fixed;
  --color-section: #1A1F2E;

  /* Primary Accent - Electric Purple */
  --color-primary: #7C3AED;
  --color-primary-hover: #6D28D9;

  /* Secondary Accent - Cyan */
  --color-secondary: #06B6D4;
  --color-secondary-hover: #0891B2;

  /* Text */
  --color-text:  #E2E8F0;
  --color-text-muted: #94A3B8;

  /* Gradient Accent */
  --color-gradient: linear-gradient(90deg, #7C3AED, #06B6D4);
}

.hero-name {
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 2px;

  background: linear-gradient(90deg, #A5B4FC, #22D3EE);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  text-shadow: 0 0 30px rgba(124, 58, 237, 0.25);
}


.portfolio-name {
  
  font-weight: 700;
  background: linear-gradient(90deg, #7C3AED, #06B6D4);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.animate-name {
  opacity: 0;
  transform: translateY(40px);
  animation: fadeUp 1.2s ease forwards;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
